.container {
    max-width: 800px;
    margin: 0 auto;
}

.info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}

.info-box {
    display: flex;
    align-items: center;
    gap: 30px;
}

.avatar {
    width: 160px;
    height: 160px;
    border-radius: 50%;
}

.name {
    font-size: 24px;
    font-weight: 700;
}

.profession {
    font-size: 14px;
    font-weight: 300;
    text-decoration: none;
}